@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
$bg-color: #244691;
$text-color: #e46f01;
$odd-color: #0c6333;
$even-color: #d61334;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(1, 18, 27);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  color: #e46f01;
  border-radius: 0.25rem;
  padding: 3rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 0 1px rgb(38, 99, 73), 0 0 1px rgb(8, 63, 39);
  h1 {
    font-size: 3rem;
    font-family: 'Oooh Baby', cursive;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.875rem;
    color: white;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 20px;
    background-image: linear-gradient(
      -45deg,
      $odd-color 25%,
      $even-color 25%,
      $even-color 50%,
      $odd-color 50%,
      $odd-color 75%,
      $even-color 75%,
      $even-color 100%
    );
    background-size: 84.85px 84.85px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 41, 47, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    backdrop-filter: blur(2px);
    content: '';
    z-index: -1;
  }
}
.snow {
  position: absolute;
  top: -10px;
  display: block;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 6px;
  filter: blur(1px);
  animation: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snowfall {
  from {
    top: -10px;
  }
  to {
    top: 99%;
    opacity: 0;
  }
}
